<p>
  <mat-toolbar class="docs-navbar-header" color="primary" aria-label="Top Toolbar">
    <button mat-icon-button aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Auto Drone</span>
    <div class="flex-spacer"></div>
    <!-- img and styles: https://github.com/angular/material.angular.io -->
    <a mat-icon-button class="docs-button" href="https://github.com/kandong54/autodrone" aria-label="GitHub Repository">
      <img class="docs-angular-logo docs-navbar--github-logo" src="assets/img/github-circle-white-transparent.svg"
        alt="angular">
    </a>
  </mat-toolbar>
</p>
