<form #loginForm=ngForm (ngSubmit)="onSubmit()">
  <mat-card class="center" [style.filter]="'blur(' + +submitted + 'px)'">
    <mat-card-title>Connect</mat-card-title>
    <mat-card-subtitle>Drone</mat-card-subtitle>

    <mat-card-content class="margin-bottom">

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Protocol</mat-label>
        <mat-select [(ngModel)]="clientService.server.protocol" name="protocol">
          <mat-option value="http://">HTTP</mat-option>
          <mat-option value="https://">HTTPS</mat-option>
        </mat-select>
      </mat-form-field>

      <table class="column" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" class="middle-width">
              <mat-label>Address</mat-label>
              <input matInput [(ngModel)]="clientService.server.address" name="address">
            </mat-form-field>
          </td>
          <td>:</td>
          <td>
            <mat-form-field appearance="fill" class="small-width">
              <mat-label>Port</mat-label>
              <input matInput type="number" step="0" [(ngModel)]="clientService.server.port" name="port">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="clientService.server.password" (change)="onChange($event)" name="password">
      </mat-form-field>
    </mat-card-content>

    <!-- <mat-divider inset></mat-divider> -->

    <mat-card-actions align="end" class="padding">
      <button mat-stroked-button>Connect</button>
    </mat-card-actions>

  </mat-card>
</form>

<div class="center" [hidden]="!submitted">
  <mat-spinner></mat-spinner>
</div>
